@media (max-width: 600px) {

    .logo-area {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .logo-text h2 {
        font-size: 21px;
    }

    .logo-text p {
        font-size: 14px;
    }

    .logo-area img {
        width: 65px;
        height: 65px;
    }

    nav a {
        font-size: 13px;
        padding: 8px 11px;
    }

}
